

footer {
    display: flex;
    background-color: #6a1e55;
    width: 100%;
    height: 30%;

    .footerbox {
        display: flexbox;
        box-sizing:border-box;
        flex-direction: row; }

    ul{
        list-style: none;}
}